{% extends 'base/main.html' %}
{% block content %}
    <header class="header-bar">
        <h1>Register</h1>
    </header>
    <main class="card-body">
        <form method="post"> {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}

            <label>{{form.password1.label}}</label>
            {{form.password1}}

            <label>{{form.password2.label}}</label>
            {{form.password2}}
            <input class="button register-button" type="submit" name="" id="" value="Register">
        </form>
    
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </main>
    
{% endblock content %}